body {
    margin: 0;
}

.hidden {
    display: none;
}

.page-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 320px;
}

.wrapper {
    position: relative;
    width: 120px;
    height: 32px;
    overflow: hidden;
}
.auth-btn {
    border: 0;
    background-color: #e8d32a;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 1;
    pointer-events: none;
}
iframe {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
}

#referral-link {
    margin-bottom: 32px;
}