:root {
  --blackColor: #000000;
}

@font-face { font-family: GetVoIP; src: url('src/fonts/GetVoIP Grotesque.ttf'); }

@font-face {
  font-family: Manifold;
  src: url("src/fonts/ManifoldExtendedCF-Light.woff2") format("woff2"),
  url("src/fonts/ManifoldExtendedCF-Light.woff") format("woff"),
  url("src/fonts/ManifoldExtendedCF-Light.eot") format("eot");
  font-weight: 300;
}
@font-face {
  font-family: Manifold;
  src: url("src/fonts/ManifoldExtendedCF-Regular.woff2") format("woff2"),
  url("src/fonts/ManifoldExtendedCF-Regular.woff") format("woff"),
  url("src/fonts/ManifoldExtendedCF-Regular.eot") format("eot");
  font-weight: 400;
}

@font-face {
  font-family: Manifold;
  src: url("src/fonts/ManifoldExtendedCF-Bold.woff2") format("woff2"),
  url("src/fonts/ManifoldExtendedCF-Bold.woff") format("woff"),
  url("src/fonts/ManifoldExtendedCF-Bold.eot") format("eot");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

.body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: Manifold, Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  z-index: 1;
  position: relative;
  display: grid;
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1240px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.header__logo {
  width: 285px;
  height: 128px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./src/img/title.png');
}

.main {
  display: grid;
  row-gap: 80px;
  padding: 0 8px;
}

.wrapper,
.wrapper-second {
  display: grid;
  row-gap: 100px;
  opacity: 1;
  transition: opacity 0.3s linear, transform 0.3s linear;
}

.title {
  justify-self: center;
  text-align: center;
  font-family: GetVoIP;
  font-size: 53px;
  line-height: 53px;
  font-weight: normal;
  color: #000;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}

.form__input {
  border: 2px solid #B5B4BA;
  border-radius: 16px;
}

.form__input-button {
  padding: 24px;
  width: 88px;
  height: 88px;
  border-right: 2px solid #B5B4BA;
  cursor: pointer;
}

.form__input-button-icon {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.form__input-button-icon_reis {
  background-image: url('./src/img/airlines.svg');
}

.form__input-button-icon_date {
  background-image: url('./src/img/date_range.svg');
}

.form__input-content {
  display: grid;
  padding: 20px 60px;
  color: #000;
}

.form__input-content-description {
  height: min-content;
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
}

.auth-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.form__btn,
.forn__btn_hover {
  height: 100%;
  width: 100%;
  border: 2px solid #FFDA01;
  border-radius: 16px;
  font-family: Manifold;
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  background-color: #FFDA01;
}

.auth-wrapper:hover .form__btn {
  display: none;
}

.forn__btn_hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.auth-wrapper:hover .forn__btn_hover {
  display: block;
  background-color: #B5B4BA;
  border: 2px solid #B5B4BA;
  color: #fff;
}


iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}

.cosmos {
  width: 100%;
}

.cosmos,
.countdown {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Manifold, Arial, sans-serif;
  font-weight: 900;
  font-size: 53px;
  text-align: center;
}

.cosmos {
  display: inline-block;
  color: #FFDA01;
  font-size: 70px;
  top: -8px;
  transition: all 1500ms;
}

.micro {
  transform: translateX(-50%) scale(0);
}

.micro.normal {
  transform: translateX(-50%) scale(1);
}

.hidden {
  display: none !important;
}

.interactive-wrapper {
  height: 65px;
  position: relative;
}

.description {
  margin: 0 auto;
  display: grid;
  row-gap: 60px;
  max-width: 960px;
}

.description__text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  color: #000;
}

.bold {
  font-weight: 700;
}

.video {
  width: 70%;
  margin: auto;
  border-radius: 16px;
}

.wrapper-hidden,
.wrapper-second-hidden {
  opacity: 0;
}

.wrapper-hidden {
  transform: translateX(-100px);
}

.wrapper-hidden {
  transform: translateX(100px);
}

.removed {
  display: none;
}

@media (max-width: 800px) {

  .header__logo {
    width: 142px;
    height: 64px;
  }

  .form {
      display: grid;
      grid-template-columns: auto;
      row-gap: 16px;
  }

  .form__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .wrapper {
    padding: 0 24px;
    row-gap: 0;
  }

  .interactive-wrapper {
    height: 220px;
  }

  .cosmos, .countdown {
    transform: translateX(-50%) translateY(-50%) scale(1);
    top: 50%;
  }

  .cosmos {
    font-size: 30px;
  }

  .cosmos.micro {
    transform: translateX(-50%) translateY(-50%) scale(0);
  }

  .title {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  .form__input-content-description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }

  .description__text {
    font-size: 12px;
    line-height: 14px;
  }

  .form__input-content {
    padding: 14px 40px;
  }

  .auth-wrapper {
    height: 45px;
    width: 100%;
    margin-bottom: 45px;
  }

  .form__btn,
  .forn__btn_hover {
    height: 45px;
    width: 100%;
  }

  .description {
    margin-bottom: 45px;
  }
}
